@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h3 class="display-5 mt-4">Tecnologias Utilizadas</h3>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>IDE:</strong> Visual Studio 2022 Community</li>
                <li class="list-group-item"><strong>Linguagem:</strong> C#</li>
                <li class="list-group-item"><strong>Framework:</strong> ASP.NET Core MVC, Entity Framework</li>
                <li class="list-group-item"><strong>Database:</strong> SQL Server Express</li>
                <li class="list-group-item"><strong>Front-end:</strong> HTML, Bootstrap, CSS e Javascript</li>
                <li class="list-group-item"><strong>Versão .NET:</strong> .NET 8</li>
            </ul>
        </div>
    </div>
